@{
    Layout = $"/Views/Shared/{ViewBag.Tipo}.cshtml";
}

<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
<h1 class="Titulo_curiosidades">
    Curiosidades
</h1>
<div class="parent">
    <div class="adsense">
        <h1 class="Titulo_forum">Publicidade</h1>
        <div class="texto">
            <p>Anuncio</p>
        </div>
    </div>

    <div class="container">
        <div class="conteudo-curiosidade">
            <strong>Curiosidade</strong>
            <br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum magna nulla, a euismod mauris tempus sit amet. Aenean laoreet pharetra turpis. Cras et tincidunt orci. Sed sit amet elementum ex, ut hendrerit quam. Donec at lacus hendrerit, vestibulum tellus sed, sagittis mauris. Donec mattis sem velit, luctus cursus est placerat at. Aliquam porta leo eget porttitor sodales. Cras egestas porta erat, a laoreet sem. Vestibulum bibendum fermentum convallis. Integer eget massa porta, hendrerit justo nec, sodales ipsum. Etiam sem erat, dapibus ut elit ut, dapibus ullamcorper turpis. Praesent vestibulum fringilla arcu. Vestibulum eget volutpat dui.
            <br />
            <br />
            <strong>Curiosidade</strong>
            <br />
            Nam congue viverra magna, vel vulputate neque sagittis vitae. Pellentesque non pretium diam. Sed est dolor, euismod quis felis eu, tempus scelerisque quam. Aenean augue enim, rhoncus in diam quis, malesuada dictum ligula. Mauris malesuada hendrerit libero, vel dignissim lectus imperdiet gravida. Mauris faucibus mattis ex ac rhoncus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam sapien magna, condimentum vel arcu pharetra, faucibus blandit massa. Donec dictum lectus nec mollis aliquam. Ut at maximus dolor. Nulla pretium euismod nisl ac rutrum. Mauris ultrices bibendum sem.
            <br />
            <br />
            <strong>Curiosidade</strong>
            <br />
            Donec quis mauris scelerisque, congue lorem non, lobortis dui. Sed scelerisque molestie aliquam. Proin eget urna ac odio molestie feugiat. In finibus, massa quis tincidunt egestas, mauris risus venenatis nisl, at consectetur tellus elit vel lacus. In sit amet velit interdum, placerat diam id, iaculis lectus. Proin rhoncus sodales neque sit amet ultricies. Curabitur tortor elit, rhoncus non neque sit amet, vehicula cursus nisi. Nullam enim dolor, mollis eget fermentum quis, suscipit et orci. Donec suscipit finibus velit eget interdum. Maecenas ac neque mi. Pellentesque arcu nisl, ultricies nec facilisis ut, cursus vitae augue. Donec dignissim, mauris nec lacinia imperdiet, augue ligula cursus ligula, ut pellentesque massa tortor et lacus. Fusce consectetur arcu a est ornare pulvinar. Etiam eleifend et lectus et dapibus.
            <br />
            <br />
            <strong>Curiosidade</strong>
            <br />
            Suspendisse eget mi at nulla commodo rutrum. Phasellus lectus erat, venenatis pharetra erat vitae, rutrum sollicitudin mauris. Morbi et consequat enim. Proin faucibus tellus non viverra finibus. Nam sed mollis leo. Morbi mattis dictum mi, quis tempus nisl venenatis at. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse gravida venenatis lacus, elementum sollicitudin purus dignissim in. Cras vitae euismod elit, eget dictum ipsum.
        </div>


    </div>
</div>