@model Carteirinhas;
@{
    var login = ViewBag.Login;
    Layout = $"/Views/Shared/{ViewBag.Tipo}.cshtml";

}
<title>Gerenciamento de Carteirinha</title>
<link rel="stylesheet" href="~/css/style.css">
    <h1 class="text-center">Crie sua carteirinha</h1>
    <div class="container_1">
    <form asp-action="Solicitar" asp-controller="Home" class="form_main">
        <div class="carteirinha">
            <div class="titulo_form">
                <h2>Carteirinha</h2>
            </div>
        <div  class="carteirinha_form" id="formulario_main">
            <div class="box_image">
                <label id="icon" for="User_image">
                    <i class="bi bi-arrow-up-circle image" id="Icone"></i>
                </label>
                    <label id="preview" for="User_image">
                        <img id="preview_Image">
                    </label>
                <input type="file" class="Image_file image" id="User_image"  hidden>
                    <input asp-for="URL_Image" type="text" name="URL_Image" value="1" id="Url_image" hidden>
                    <p class="mensagem_image image" id="mensagem_image">Adicione uma foto</p>
            </div>                
            <div class="nome formularios">
                    <div class="forms">
                        <p class="nome_form">Nome:</p><input asp-for="Nome" name="Nome" id="Nome" type="text" class="input_form" autocomplete="off">
                    </div>
                    <div class="forms">
                    <p class="nome_form">Idade:</p><input asp-for="Idade" name="Idade" id="Idade" type="date" class="input_form" autocomplete="off">
                    </div>
                    <div class="forms">
                    <p class="nome_form">Idolo:</p><input asp-for="Idolo" name="Idolo" id="Idolo" type="text" class="input_form" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="Code">
                <p class="Codigo_ID">Code:######</p>
            </div>
        </div>
        @if(login){
            <button type="submit"  class="botão-confirmar">Confirmar</button>
        }
        else
        {
            <button type="button" data-bs-toggle="modal" data-bs-target="#Modal" class="botão-confirmar">Confirmar</button>
        }

    </form>
    <div class="modal" tabindex="-1" id="Modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Necessita estar logado</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Precisa estar logado para solicitar a carteirinha,caso não tenha conta clique em registrar para poder cria-la</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-secondary text-dark" asp-controller="Cadastro" asp-action="Cadastrar">Registrar</a>
                    <a class="btn btn-primary text-dark" asp-controller="Home" asp-action="Login">Login</a>
                </div>
            </div>
        </div>
    </div>
    </div>
