@model Usuario;
@{
    var permitido = ViewBag.ML;
    var usuario_logado = ViewBag.usuario;
    Layout = $"/Views/Shared/{ViewBag.Tipo}.cshtml";

}

<div class=" container d-flex h-75 justify-content-center">

<form method="get" asp-controller="Home" asp-action="Logar" class="h-75">
        <h1 class="mb-5">Bem vindo a Valhalla</h1>

    <!-- Email input -->
        <div class="form-outline mb-4">
         <label class="form-label" for="form2Example1">Endereço de email</label>
        <input asp-for="Gmail" type="email" id="form2Example1" class="form-control text-start" />
            @if (!string.IsNullOrEmpty(ViewBag.M1))
            {
                <span id="mensagemErro" class="text-danger">@ViewBag.M1</span>
            }
        </div>

    <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example2">Senha</label>
        <input asp-for="Senha" type="password" id="form2Example2" class="form-control " />
            @if (!string.IsNullOrEmpty(ViewBag.M2))
            {
                <span id="mensagemErro" class="text-danger">@ViewBag.M2</span>
            }
        </div>

    <!-- Submit button -->
    <div class="text-center">
                @if (permitido == "Logado")
                {
                    <button type="button" onclick="alertar()" class="btn btn-primary btn-block mb-4">Logar</button>
                }else{
    <button type="submit" class="btn btn-primary btn-block mb-4">Logar</button>
                }
            </div>
    <!-- Register buttons -->
    <div class="text-center">
        <p>Não sou cadastrado? <a asp-controller="Cadastro" asp-action="Cadastrar">Registrar</a></p>
        </div>
</form>
</div>
