.cabecalho {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.caixa {
    margin: auto;
    background-color: gray;
    height: 30vw;
    width: 40vw;
}
.Biografia {
    text-align: center;
    font-family: sans-serif;
    height: 70vh;
    margin: 1rem;
}
.Biografia p {
        text-align: justify;
        justify-content: center;
        display: flex;
        height: 80%;
        margin: 0% 10%;
        overflow-y: scroll;
    }