.html_main {
    font-size: 18px;
    position: relative;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Dancing Script', cursive;
}
.tabela-adm{
    font-family:Arial;
}
    main {
        flex: 1;
    }

    footer {
        flex-shrink: 0;
        border-top: 1px solid #ccc; /* Borda superior do footer, ajuste conforme necessário */
        text-align: center; /* Alinhamento do texto no centro */
    }

@media only screen and (max-width: 600px) {
    html {
        height: 130%;
        overflow: scroll;
    }

}
.function{
margin: 0.2rem;
}