@model Usuario;
@{
    var permitido = ViewBag.Login;
    var usuario_logado = ViewBag.usuario;
    Layout = $"/Views/Shared/{ViewBag.Tipo}.cshtml";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&display=swap" rel="stylesheet">
<div class="container h-75 w-75 align-items-center">
<form method="post" asp-controller="Cadastro" asp-action="Cadastrar" class="">
    <div class="form-row row">
        <div class="form-group col-6">
            <label for="Nome">Nome Completo</label>
                <input asp-for="Nome" type="text" class="form-control" id="Nome" placeholder="Nome">
                <span asp-validation-for="Nome" class="text-warning"></span>
            </div>
            <div class="form-group col-6">
                <label for="Username">Apelido</label>
                <input asp-for="Username"  type="text" class="form-control" id="Nome" placeholder="Digite o apelido que irá usar no site">
                <span asp-validation-for="Username" class="text-warning"></span>
                @if (!string.IsNullOrEmpty(ViewBag.M1))
                {
                    <span id="mensagemErro" class="text-danger">@ViewBag.M1</span>
                }

            </div>
                <div class="form-group col-12 mb-2">
                    <label for="Email">Gmail</label>
                    <input asp-for="Gmail" type="email" class="form-control" id="Email" placeholder="Digite seu Gmail">
                    <span asp-validation-for="Gmail" class="text-warning"></span>
                    @if (!string.IsNullOrEmpty(ViewBag.M3))
                    {
                        <span id="mensagemErro" class="text-danger">@ViewBag.M3</span>
                    }

                </div>

    </div>
    <div class="form-row">
            <div class="form-group col-12">
                <label for="Senha">Senha</label>
                <input asp-for="Senha" type="password" class="form-control" id="Senha" placeholder="Digite sua senha">
                <span asp-validation-for="Senha" class="text-warning"></span>
            </div>
            <div class="form-group col-12">
                <label for="Confirma_Senha">Confirmar Senha</label>
                <input type="password" class="form-control" name="Confirma_Senha" id="Confirma_Senha" placeholder="Confirme sua senha">
                @if (!string.IsNullOrEmpty(ViewBag.M2))
                {
                    <span id="mensagemErro" class="text-danger">@ViewBag.M2</span>
                }
            </div>
</div>
<div class="text-center mt-2 mb-2">
    <button  type="submit" class="btn col-4 btn-primary">Confirmar</button>
        </div>
</form>
</div>

